In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
Z=pd.read_csv(r"C:\Users\ritik\Downloads\nasa\og\nasa.csv")

In [26]:
##to remove label from features
Z.drop(['Hazardous'], axis = 1)

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Equinox
0,3703080,3703080,21.600,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,1.407011,6.025981,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,J2000
1,3723955,3723955,21.300,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,...,1.107776,28.412996,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,J2000
2,2446862,2446862,20.300,0.231502,0.517654,231.502122,517.654482,0.143849,0.321655,759.521423,...,1.458824,4.237961,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,J2000
3,3092506,3092506,27.400,0.008801,0.019681,8.801465,19.680675,0.005469,0.012229,28.876199,...,1.255903,7.905894,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,J2000
4,3514799,3514799,21.600,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,1.225615,16.793382,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,J2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4682,3759007,3759007,23.900,0.044112,0.098637,44.111820,98.637028,0.027410,0.061290,144.723824,...,1.161429,39.880491,164.183305,457.179984,0.741558,276.395697,1.581299,2.457708e+06,304.306025,J2000
4683,3759295,3759295,28.200,0.006089,0.013616,6.089126,13.615700,0.003784,0.008460,19.977449,...,1.075134,5.360249,345.225230,407.185767,0.996434,42.111064,1.153835,2.458088e+06,282.978786,J2000
4684,3759714,3759714,22.700,0.076658,0.171412,76.657557,171.411509,0.047633,0.106510,251.501180,...,1.528234,4.405467,37.026468,690.054279,0.965760,274.692712,2.090708,2.458300e+06,203.501147,J2000
4685,3759720,3759720,21.800,0.116026,0.259442,116.025908,259.441818,0.072095,0.161210,380.662441,...,1.486600,21.080244,163.802910,662.048343,1.185467,180.346090,1.787733,2.458288e+06,203.524965,J2000
4686,3772978,3772978,19.109,0.400641,0.895860,400.640618,895.859655,0.248946,0.556661,1314.437764,...,1.474045,53.574923,187.642183,653.679098,0.876110,222.436688,2.071980,2.458319e+06,184.820424,J2000

removing 20th and 37th coulum because full coulum has same value which is not gonna affect our prediction

In [6]:
Z = Z.drop(Z.columns[[20]], axis=1)

In [23]:
Z = Z.drop(Z.columns[[37]], axis=1)

creating a label array y

In [24]:
y = Z['Hazardous']

#checking if y works

In [25]:
y.head()

0     True
1    False
2     True
3    False
4     True
Name: Hazardous, dtype: bool

37th coulum is our label, so removing it from Z

In [27]:
Z = Z.drop(Z.columns[[37]], axis=1)

checking if everything is fine in Z

In [11]:
Z.iloc[0,:]

Neo Reference ID                            3703080
Name                                        3703080
Absolute Magnitude                             21.6
Est Dia in KM(min)                          0.12722
Est Dia in KM(max)                         0.284472
Est Dia in M(min)                            127.22
Est Dia in M(max)                           284.472
Est Dia in Miles(min)                     0.0790507
Est Dia in Miles(max)                      0.176763
Est Dia in Feet(min)                        417.388
Est Dia in Feet(max)                        933.308
Close Approach Date                      1995-01-01
Epoch Date Close Approach              788947200000
Relative Velocity km per sec                6.11583
Relative Velocity km per hr                   22017
Miles per hour                              13680.5
Miss Dist.(Astronomical)                   0.419483
Miss Dist.(lunar)                           163.179
Miss Dist.(kilometers)                  6.27537e+07
Miss Dist.(miles)                       3.89933e+07
Orbit ID                                         17
Orbit Determination Date        2017-04-06 08:36:37
Orbit Uncertainity                                5
Minimum Orbit Intersection                0.0252819
Jupiter Tisserand Invariant                   4.634
Epoch Osculation                          2.458e+06
Eccentricity                               0.425549
Semi Major Axis                             1.40701
Inclination                                 6.02598
Asc Node Longitude                          314.374
Orbital Period                                609.6
Perihelion Distance                        0.808259
Perihelion Arg                              57.2575
Aphelion Dist                               2.00576
Perihelion Time                         2.45816e+06
Mean Anomaly                                264.838
Mean Motion                                0.590551
Name: 0, dtype: object

changing string into date and time format

In [12]:
Z['Close Approach Date'] = pd.to_datetime(Z['Close Approach Date'])

In [13]:
Z['Orbit Determination Date'] = pd.to_datetime(Z['Orbit Determination Date'])

In [14]:
from fastai.tabular import add_datepart

In [28]:
import torch
from pandas.api.types import is_numeric_dtype
from datetime import date, datetime
import calendar

this add_datepart function makes divides date into many different coulums

In [16]:
add_datepart(Z,'Close Approach Date')

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Close Approach Day,Close Approach Dayofweek,Close Approach Dayofyear,Close Approach Is_month_end,Close Approach Is_month_start,Close Approach Is_quarter_end,Close Approach Is_quarter_start,Close Approach Is_year_end,Close Approach Is_year_start,Close Approach Elapsed
0,3703080,3703080,21.600,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,1,6,1,False,True,False,True,False,True,788918400
1,3723955,3723955,21.300,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,...,1,6,1,False,True,False,True,False,True,788918400
2,2446862,2446862,20.300,0.231502,0.517654,231.502122,517.654482,0.143849,0.321655,759.521423,...,8,6,8,False,False,False,False,False,False,789523200
3,3092506,3092506,27.400,0.008801,0.019681,8.801465,19.680675,0.005469,0.012229,28.876199,...,15,6,15,False,False,False,False,False,False,790128000
4,3514799,3514799,21.600,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,15,6,15,False,False,False,False,False,False,790128000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4682,3759007,3759007,23.900,0.044112,0.098637,44.111820,98.637028,0.027410,0.061290,144.723824,...,8,3,252,False,False,False,False,False,False,1473292800
4683,3759295,3759295,28.200,0.006089,0.013616,6.089126,13.615700,0.003784,0.008460,19.977449,...,8,3,252,False,False,False,False,False,False,1473292800
4684,3759714,3759714,22.700,0.076658,0.171412,76.657557,171.411509,0.047633,0.106510,251.501180,...,8,3,252,False,False,False,False,False,False,1473292800
4685,3759720,3759720,21.800,0.116026,0.259442,116.025908,259.441818,0.072095,0.161210,380.662441,...,8,3,252,False,False,False,False,False,False,1473292800
4686,3772978,3772978,19.109,0.400641,0.895860,400.640618,895.859655,0.248946,0.556661,1314.437764,...,8,3,252,False,False,False,False,False,False,1473292800

In [29]:
add_datepart(Z,'Orbit Determination Date')

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Orbit Determination Day,Orbit Determination Dayofweek,Orbit Determination Dayofyear,Orbit Determination Is_month_end,Orbit Determination Is_month_start,Orbit Determination Is_quarter_end,Orbit Determination Is_quarter_start,Orbit Determination Is_year_end,Orbit Determination Is_year_start,Orbit Determination Elapsed
0,3703080,3703080,21.600,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,6,3,96,False,False,False,False,False,False,1491467797
1,3723955,3723955,21.300,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,...,6,3,96,False,False,False,False,False,False,1491467569
2,2446862,2446862,20.300,0.231502,0.517654,231.502122,517.654482,0.143849,0.321655,759.521423,...,6,3,96,False,False,False,False,False,False,1491470419
3,3092506,3092506,27.400,0.008801,0.019681,8.801465,19.680675,0.005469,0.012229,28.876199,...,6,3,96,False,False,False,False,False,False,1491470149
4,3514799,3514799,21.600,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,6,3,96,False,False,False,False,False,False,1491469078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4682,3759007,3759007,23.900,0.044112,0.098637,44.111820,98.637028,0.027410,0.061290,144.723824,...,6,3,96,False,False,False,False,False,False,1491467047
4683,3759295,3759295,28.200,0.006089,0.013616,6.089126,13.615700,0.003784,0.008460,19.977449,...,6,3,96,False,False,False,False,False,False,1491467038
4684,3759714,3759714,22.700,0.076658,0.171412,76.657557,171.411509,0.047633,0.106510,251.501180,...,6,3,96,False,False,False,False,False,False,1491467023
4685,3759720,3759720,21.800,0.116026,0.259442,116.025908,259.441818,0.072095,0.161210,380.662441,...,6,3,96,False,False,False,False,False,False,1491467022
4686,3772978,3772978,19.109,0.400641,0.895860,400.640618,895.859655,0.248946,0.556661,1314.437764,...,29,5,119,False,False,False,False,False,False,1493446713

making traing and test sets of our data

In [18]:
from sklearn.model_selection import train_test_split
Z_train, Z_test, y_train, y_test = train_test_split(Z, y, test_size = 0.2)

In [19]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='rbf')
svclassifier.fit(Z_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [20]:
y_pred = svclassifier.predict(Z_test)

In [21]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[772   0]
 [166   0]]
              precision    recall  f1-score   support

       False       0.82      1.00      0.90       772
        True       0.00      0.00      0.00       166

    accuracy                           0.82       938
   macro avg       0.41      0.50      0.45       938
weighted avg       0.68      0.82      0.74       938

c:\users\ritik\appdata\local\programs\python\python36\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))